<div class="row">

  {{! Табы }}
  <div class="col s12">
    <ul class="tabs transparent">
      <li class="tab col s6"><a class="active" href="#login">Войти</a></li>
      <li class="tab col s6"><a href="#register">Регистрация</a></li>
    </ul>
  </div>
  {{!  }}

  {{! Форма таба с логином }}
  <section id="login" class="col s6 offset-s3 section">

    {{#if loginError}}
      <p class="alert">{{loginError}}</p>
    {{/if}}

    <h4 class="align-c" style="padding: 30px 0; color:black;">Войти в акканут</h4>

    <form action="/auth/login" method="POST">

      <div class="input-field">
        <input id="email" name="email" type="email" class="validate" required />
        <label for="email">Почта</label>
        <span class="helper-text" data-error="Введите почту"></span>
      </div>

      <div class="input-field">
        <input
          id="password"
          name="password"
          type="password"
          class="validate"
          required
        />
        <label for="password">Пароль</label>
        <span class="helper-text" data-error="Введите пароль"></span>
      </div>

      <div class="align-c">
        <button class="btn btn-primary w100" type="submit">Войти</button>
      </div>
    </form>

  </section>
  {{!  }}
  {{! Форма таба с регистрацией }}
  <section id="register" class="col s6 offset-s3 section">

    {{#if regError}}
      <p class="alert">{{regError}}</p>
    {{/if}}

    <h4 class="align-c" style="padding: 30px 0; color:black;">Создать аккаунт</h4>

    <form action="/auth/register" method="POST">

      <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required />
        <label for="name">Ваше имя</label>
        <span class="helper-text" data-error="Введите имя"></span>
      </div>

      <div class="input-field">
        <input
          id="remail"
          name="email"
          type="email"
          class="validate"
          required
        />
        <label for="email">Почта</label>
        <span class="helper-text" data-error="Введите почту"></span>
      </div>

      <div class="input-field">
        <input
          id="rpassword"
          name="password"
          type="password"
          class="validate"
          required
        />
        <label for="rpassword">Пароль</label>
        <span class="helper-text" data-error="Введите пароль"></span>
      </div>

      <div class="input-field">
        <input
          id="confirm"
          name="confirm"
          type="password"
          class="validate"
          required
        />
        <label for="rpassword">Пароль ещё раз</label>
        <span class="helper-text" data-error="Введите пароль"></span>
      </div>

      <button class="btn btn-primary w100" type="submit">
        Зарегистрироваться
      </button>
    </form>

  </section>

</div>