<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>

<script
  src="http://materializecss.com/extras/noUiSlider/nouislider.js"
></script>

<script src="/owlcarousel/owl.carousel.min.js"></script>

{{! Пользовательсике скрипты }}

<script src="/js/init_materialize.js"></script>

<script src="/scripts.js"></script>

<script src="/js/price_convers.js"></script>

<script src="/js/dynamic_favourite.js"></script>

<script src="/js/filter.js"></script>

{{!   }}

<footer class="page-footer">
  <div class="footer-copyright black">
    <div class="container align-c">
      © 2022 Epsilon
    </div>
  </div>
</footer>