<div class="my_container notfound">

  <h1 class="notfound_404 align-c">404</h1>
  <h2 class="align-c">Страница не найдена</h2>

  <div class="p20-100">
    <a href="/" class="btn align-c">Вернуться на главную</a>
  </div>

</div>