<div class="my_container notfound">

  <h1 class="notfound_404 align-c">404</h1>
  <h2 class="align-c">Страница не найдена</h2>
  <h2></h2>
  <a href="/" class="btn btn-large align-c">Вернуться на главную</a>

</div>