.myContainer {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0 10px;
  margin: 10px;
}
.myContainer:hover {
  border: 2px solid #ffcf26;
  margin: 9px;
}

.myContainer2 {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0 10px;
  margin: 10px;
}
